* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.urban-home-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #ecf0f1;
}

.urban-home-description {
    flex: 1;
    margin-right: 20px;
}

.urban-home-description h1 {
    margin-top: 50px;
    font-size: 36px;
    color: #34495e;
    margin-left: 100px;
}
.urban-home-description p {
    font-size: 20px;
    font-style: bold;
    margin-top: 10px;
    color: #4a4545;
    margin-left: 60px;
}


.urban-home-map {
    text-align: center;
    margin: 50px 0;
}

.urban-home-map h2 {
    font-size: 30px;
    color: #34495e;
    margin-bottom: 20px;
}

.urban-home-map-image-one {
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.greenscape-home-footer {
    background-color: #45a049;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.greenscape-home-footer p {
    font-size: 14px;
}
