.layout-background {
    min-height: 100vh;
    background-image:url(https://cdn.prod.website-files.com/638f52a172902fd4de4425d0/639b412ff6b7d27301112649__0004_AdobeStock_43227024.jpg) ;
    margin: 0;
    background-size: cover;
    background-position: center;
  }
  